
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    overflow: auto;
}

body::-webkit-scrollbar {
    display: none;
}

div {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.box {
    display: flex;
    justify-content: center;
    gap: 10px;
}

h2 {
    font-size: 40px;
    font-weight: bold;
    color: #f8f8f8;
    transition: transform, 0.3s;
    opacity: 1;
}

a {
    text-decoration: none;
}

button {
    font-family: 'inter' sans-serif;
    font-weight: thin;
    border-radius: 2rem;
    border: 1px solid #000000;
    padding: 10px 12px;
    transition: 0.3s linear;
    background-color: #f8f8f8;
    color: #000000;
    transition: 0.3s;
}


.troubleshoot {
    border: 1px solid #000000;
    padding-inline: 30px;
}

.contact {
    border: 1px solid #000000;
    padding-inline: 10px;
}

button:hover {
    background-color: #000000;
    color: #f8f8f8;
    border: 1px solid #f8f8f8;
    cursor: pointer;
}

h2:hover {
    opacity: 0.5;
    cursor: pointer;
}
.container {
    transition: transform 0.3s linear;
}

@media (max-width: 900px) {
    .container {
        transform: translateY(-70px);
        overflow: hidden;
    }
}